body{
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.hero-image{
    margin: auto;
    justify-content: space-around;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.login{
    background: #8BB174;
    width: 380px;
    border-radius: 25px;
    margin: auto;
    padding: 5px 80px 30px 80px;
}

.shortInfo{
    width: 80%;
    margin: auto;
    text-align: justify;
    font-family: Josefin Sans, Arial, Helvetica, sans-serif;
    font-size: large;
}

label{
    color: #17301C;
}

#username, #password{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#log{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: beige;
    background-color: #210F04;
    font-family: Poppins, Arial, Helvetica, sans-serif; 
}

#center{
    text-align: center;
}

#foot{
    text-align:center;
    font-size: smaller;
    width: 100%;
}

#footHeader{
    font-size: xx-large;
}

#error{
    font-size: small;
    color: red;
}

#facebook {
    left: 0px;
    width: 32px;
    background: url('social-icons.png') 0 0;
}

/*For Pinterest sprite*/
#pinterest {
    left: 32px;
    width: 32px;
    background: url('social-icons.png') -32px 0;
}

/*For Twitter sprite*/
#twitter {
    left: 64px;
    width: 32px;
    background: url('social-icons.png') -64px 0;
}

/*For YouTube sprite*/
#youtube {
    left: 96px;
    width: 32px;
    background: url('social-icons.png') -96px 0;
}

/*Style for Facebook hover*/
#facebook a:hover {
    left: 0px;
    width: 32px;
    background: url('social-icons-hover.png') 0 0;
}

/*Style for Pinterest hover*/
#pinterest a:hover {
    left: 32px;
    width: 32px;
    background: url('social-icons-hover.png') -32px 0;
}

/*Style for Twitter hover*/
#twitter a:hover {
    left: 64px;
    width: 32px;
    background: url('social-icons-hover.png') -64px 0;
}

/*Style for YouTube hover*/
#youtube a:hover {
    left: 96px;
    width: 32px;
    background: url('social-icons-hover.png') -96px 0;
}

/*Style for Facebook active*/
#facebook a:active {
    left: 0px;
    width: 32px;
    background: url('social-icons-hover.png') 0 0;
    background-color: green;
}

/*Style for Pinterest active*/
#pinterest a:active {
    left: 32px;
    width: 32px;
    background: url('social-icons-hover.png') -32px 0;
    background-color: green;
}

/*Style for Twitter active*/
#twitter a:active {
    left: 64px;
    width: 32px;
    background: url('social-icons-hover.png') -64px 0;
    background-color: green;
}

/*Style for YouTube active*/
#youtube a:active {
    left: 96px;
    width: 32px;
    background: url('social-icons-hover.png') -96px 0;
    background-color: green;
}

#navlist {
    position: relative;
    width:200px;
    height:200px;
    left: 50%;     
    margin-left: -65px;
}

#navlist li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
}

/*Navigation list for sprites*/
#navlist li,
#navlist a {
    height: 32px;
    display: block;
}

/*Style for Facebook icon*/
#facebook {
    left: 0px;
    width: 32px;
    background: url('social-icons.png') 0 0;
}

/*Style for Pinterest icon*/
#pinterest {
    left: 32px;
    width: 32px;
    background: url('social-icons.png') -32px 0;
}

/*Style for Twitter icon*/
#twitter {
    left: 64px;
    width: 32px;
    background: url('social-icons.png') -64px 0;
}

/*Style for YouTube icon*/
#youtube {
    left: 96px;
    width: 32px;
    background: url('social-icons.png') -96px 0;
}

/*Style for Facebook-icon hover*/
#facebook a:hover {
    left: 0px;
    width: 32px;
    background: url('social-icons-hover.png') 0 0;
}

/*Style for Pinterest-icon hover*/
#pinterest a:hover {
    left: 32px;
    width: 32px;
    background: url('social-icons-hover.png') -32px 0;
}

/*Style for Twitter-icon hover*/
#twitter a:hover {
    left: 64px;
    width: 32px;
    background: url('social-icons-hover.png') -64px 0;
}

/*Style for YouTube-icon hover*/
#youtube a:hover {
    left: 96px;
    width: 32px;
    background: url('social-icons-hover.png') -96px 0;
}

/*Style for Facebook-icon active*/
#facebook a:active {
    left: 0px;
    width: 32px;
    background: url('social-icons-hover.png') 0 0;
    background-color: green;
}

/*Style for Pinterest-icon active*/
#pinterest a:active {
    left: 32px;
    width: 32px;
    background: url('social-icons-hover.png') -32px 0;
    background-color: green;
}

/*Style for Twitter-icon active*/
#twitter a:active {
    left: 64px;
    width: 32px;
    background: url('social-icons-hover.png') -64px 0;
    background-color: green;
}

/*Style for YouTube-icon active*/
#youtube a:active {
    left: 96px;
    width: 32px;
    background: url('social-icons-hover.png') -96px 0;
    background-color: green;
}


